5695_FileStorage/upload/c769e0e1-569a-4b4a-9f10-487724564dd4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://bps-sberbank.by/CRMGate/ibso/credit" targetNamespace="http://bps-sberbank.by/CRMGate/ibso/credit" elementFormDefault="qualified">
	<xsd:complexType name="generalInfoType">
		<xsd:sequence>
			<xsd:element name="msgID" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Уникальный идентификатор запроса (UID)</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="msgFrom" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Код источника информации</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="msgDate" type="xsd:dateTime" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Дата формирования запроса</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="msgUser" type="xsd:string" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Код в ЦАБС сотрудника, который передает заявку из Siebel</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="BPSResponse" type="tns:BPSResponseType"/>
	<xsd:complexType name="BPSResponseType">
		<xsd:sequence>
			<xsd:element name="generalInfo" type="tns:generalInfoType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="errorInfo" type="tns:errorInfoType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="businessInfo" type="tns:BusinessInfoType" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="errorInfoType">
		<xsd:sequence>
			<xsd:element name="errorCode" type="xsd:int" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Код результата обработки запроса</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="errorDescription" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Описание ошибки</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="2000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BusinessInfoType">
		<xsd:choice>
			<xsd:element ref="tns:applicationLoadRequest"/>
			<xsd:element name="NULL_ELEMENT">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:element name="applicationLoadRequest" type="tns:applicationLoadBusinessInfoReq"/>
	<xsd:complexType name="applicationLoadBusinessInfoReq">
		<xsd:sequence>
			<xsd:element name="internalID">
				<xsd:annotation>
					<xsd:documentation>Внутренний идентификатор записи</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="32"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="branchCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Код структурного подразделения банка</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="7"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="startDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дата заведения заявки</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="priority" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Приоритет заявки. От 0 до 10, 10 – значение
						пoумолчанию</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="annualApplicationID">
				<xsd:annotation>
					<xsd:documentation>Идентификатор заявки в текущем году</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="15"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="createdBy" type="tns:FIOType">
				<xsd:annotation>
					<xsd:documentation>Данные инспектора-создателя заявки</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="processedBy" type="tns:FIOType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Данные инспектора обработавшего заявку</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="isDeclinedByCM" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Заявка была отклонена Кредитным Инспектором</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CMdecisionCode" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Признак заключения кредитного договора</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="loanAmount" type="xsd:decimal">
				<xsd:annotation>
					<xsd:documentation>Запрошенная сумма кредита</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="loanMeansList" type="tns:loanMeansListType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Способ выдачи кредита</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="collateralTypeList" type="tns:collateralTypeListType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Вид обеспечения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="loanType" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Тип кредита</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="loanCurrency" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Валюта кредита</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="currencyExchangeRate" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Курс валюты кредита</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="loanPeriod" type="xsd:int">
				<xsd:annotation>
					<xsd:documentation>Срок кредита</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="loanUsePeriod" type="xsd:int">
				<xsd:annotation>
					<xsd:documentation>Срок освоения кредита</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="loanIssueTerm" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Срок выдачи средств</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="historicalCBPeriod" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Период для анализа кредитной истории (лет)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="currentCBPeriod" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Совокупный доход заемщика рассчитан с учетом
						доходов родственников</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="incomeAggregatedFlag" type="tns:booleanFlag" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Совокупный доход заемщика рассчитан с учетом
						доходов родственников</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="applicantIsInsuredFlag" type="tns:booleanFlag" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Заемщик застрахован</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="repaymentScheduleFlag" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Вид графика погашения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="suspiciousAccompanyingFlag" type="tns:booleanFlag" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Заемщика сопровождают подозрительные лица</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="suspiciousAccompanyingCom" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Комментарии инспектора о сопровождающих</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tatooFlag" type="tns:booleanFlag" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>У заемщика на теле есть татуировки/шрамы</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tatooCom" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Комментарии инспектора о татуировках/шрамах</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="drunkFlag" type="tns:booleanFlag" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Имеются признаки алкогольного/наркотического
						опьянения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="drunkCom" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Комментарии инспектора о состоянии заемщика</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="appearance" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Внешний вид заемщика</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="agressiveBehaviourFlag" type="tns:booleanFlag" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Заемщик ведет себя агрессивно</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="agressiveBehaviourCom" type="xsd:string" minOccurs="0"/>
			<xsd:element name="strangeBehaviourFlag" type="tns:booleanFlag" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Заемщик ведет себя неадекватно</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="strangeBehaviourCom" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Комментарии инспектора о неадекватном поведении
						заемщика</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="badlyCommunicateFlag" type="tns:booleanFlag" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Заемщик плохо владеет белорусским/русским языком</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="badlyCommunicateCom" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Комментарии инспектора о коммуникативных
						способностях заемщика</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="refusalPrerequisiteFlag" type="tns:booleanFlag" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Предпосылки для отказа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="refusalPrerequisiteCom" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Комментарии инспектора – описание причин для
						отказа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="additionalRefusalReasonsFlag" type="tns:booleanFlag" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дополнительные причины для отказа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="additionalRefusalReasonsCom" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Комментарии инспектора – описание дополнительных
						причин для отказа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="creditProductDetails" type="tns:creditProductDetailsType">
				<xsd:annotation>
					<xsd:documentation>Кредитный продукт</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="contractStartDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дата начала договора</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="contractEndDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дата окончания договора</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="loanRepaymentStartDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дата начала погашения кредита</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="loanUseDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Дата освоения кредита (предельная дата выдачи)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="loanPeriodLength" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Срок предоставления банком кредита</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="retailAccountNumber" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Номер счёта получателя Retail </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="partnerCRMlId" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Идентификатор партнера в Siebel CRM</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="partnerOrgName" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Наименование партнера</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="partnerAgreeNumber"  type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Номер партнерского договора </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="partnerAgreeIBSOId" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Идентификатор партнерского договора в IBSO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="loanOrgTransferDetails"  minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Реквизиты получателя - ЮЛ для выдачи (перечисления суммы) кредита</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="OrganizationName" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Наименование организации</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="255"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="OrganizationUNP" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>УНП организации</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="15"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="OrganizationAccountNumberIBAN" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Номер счета IBAN Организации</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="50"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="SWIFTcode" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>SWIFT  код банка </xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="30"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="accountIssuingBranch" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Отделение, где был открыт счет</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BIC" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>BIC банка</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="branchTitle" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Имя банка</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="branchAccount" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Счет банка</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="branchAccountDetails" type="tns:branchAccountDetailsType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ID счета</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="compensAmount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="courtTitle" type="xsd:string" minOccurs="0"/>
			<xsd:element name="signedBy" type="tns:signedByType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Подпись</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="numberOfGuarantors" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Количество поручителей</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="applicantReprocessFlag" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Необходимость вызова внешних систем по основному
						заемщику</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="guarantorsChangeList" type="tns:guarantorsChangeListType" minOccurs="0"/>
			<xsd:element name="applicationChangingCounter" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Количество возвратов заявки на доработку</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="guarantorsChangingThreshold" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Максимально возможное количество замен
						поручителей</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="99"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="guarantorsChangingCounter" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Максимально возможное число замен поручителя</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="99"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="fraudCheckResultsLink" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Ссылка http на ресурс с информацией о
						совпадениях данных текущей заявки с данными
						других заявок в системе АС КЗ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hunterMatchSchemes" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Список match-схем для Hunter</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="partyInfoList" type="tns:partyInfoListType">
				<xsd:annotation>
					<xsd:documentation>Блок данных физических лиц-участников заявки</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="creditManagerGeneralComments" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Общий комментарий инспектора по заявке</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="creditManager2UWComments" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Коментарий Кредитного инспектора Андеррайтеру</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="gearingRatio" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Коэффициент платежеспособности заявителя</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="gearingRatioGrnt" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Коэффициент платежеспособности поручителей</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="scannedDocsLink" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Сканированные документы</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="appChangeHistoryLink" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>История изменений данных заявки</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RepaymentsScheduleList" type="tns:RepaymentsScheduleListType">
				<xsd:annotation>
					<xsd:documentation>Блок данных физических лиц-участников заявки</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pdnFlag" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Признак ПДН</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="documentsCreationOnline" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Оформление документов онлайн (СБОЛ/МБ))</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="booleanFlag">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="FIOType">
		<xsd:sequence>
			<xsd:element name="firstName" type="xsd:string"/>
			<xsd:element name="lastName" type="xsd:string"/>
			<xsd:element name="middleName" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="creditProductDetailsType">
		<xsd:sequence>
			<xsd:element name="creditPurpose" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Описание цели выдачи</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="creditType">
				<xsd:annotation>
					<xsd:documentation>Тип кредитного продукта</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:enumeration value="4"/>
						<xsd:enumeration value="6"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="creditSubtype" type="xsd:int">
				<xsd:annotation>
					<xsd:documentation>Тип субпродукта</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="interestRateTypeFlag" type="tns:booleanFlag">
				<xsd:annotation>
					<xsd:documentation>Тип процентной ставки</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="interestRate" type="xsd:decimal">
				<xsd:annotation>
					<xsd:documentation>Процентная ставка по кредиту</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="procentRateType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="procentRateConst" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="priorityDirection" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Приоритетное направление</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="delayPenaltyFlag" type="tns:booleanFlag">
				<xsd:annotation>
					<xsd:documentation>Признак неустойки</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="delayPenalty" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Неустойка за несвоевременный возврат кредита/уплату процентов</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="serviceFee" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Комиссия за обслуживание ссудного счёта</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="maxLoanAmount" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="minLoanAmount" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="maxLoanTerm" type="xsd:int" minOccurs="0"/>
			<xsd:element name="minLoanTerm" type="xsd:int" minOccurs="0"/>
			<xsd:element name="privilageRate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="privilageRateTerm" type="xsd:string" minOccurs="0"/>
			<xsd:element name="privilageProcentRateType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="borrowerCategory" type="xsd:string" minOccurs="0"/>
			<xsd:element name="dateDecision" type="xsd:date" minOccurs="0"/>
			<xsd:element name="numberDecision" type="xsd:string" minOccurs="0"/>
			<xsd:element name="codeOblIspolkom" type="xsd:string" minOccurs="0"/>
			<xsd:element name="codeRayGorIspolkom" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="branchAccountDetailsType">
		<xsd:sequence>
			<xsd:element name="accountNumber" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Номер счета</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="accountOpenedIn" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Где открыт счет</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="signedByType">
		<xsd:sequence>
			<xsd:element name="jobTitle" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Должность</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FIO" type="tns:FIOType"/>
			<xsd:element name="proxyNumber" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Номер доверенности</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="partyInfoListType">
		<xsd:sequence>
			<xsd:element name="partyInfo" type="tns:partyInfoType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Блок данных участника сделки</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="partyCounter" type="xsd:int"/>
	</xsd:complexType>
	<xsd:complexType name="partyInfoType">
		<xsd:sequence>
			<xsd:element name="participantPersonalInfo" type="tns:PersonalInfoType">
				<xsd:annotation>
					<xsd:documentation>Информация об участнике сделки</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="spousePersonalInfo" type="tns:PersonalInfoType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Информация о супруге участника сделки</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PersonalInfoType">
		<xsd:sequence>
			<xsd:element name="siebelId" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Код клиента в Siebel</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="clientType" type="xsd:int">
				<xsd:annotation>
					<xsd:documentation>Тип клиента</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="personalNumber">
				<xsd:annotation>
					<xsd:documentation>Личный номер</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="errorInPersNumFlag" type="tns:booleanFlag" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Личный номер содержит ошибку</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FIO" type="tns:FIOType"/>
			<xsd:element name="documentType" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Вид документа, удостоверяющего личность</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="additionalDocType" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Вид дополнительного документа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="documentSerie" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Серия документа</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="documentNumber" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Номер документа</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="15"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="additionalDocSerie" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Серия доп. документа</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="additionalDocNumber" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Номер доп. документа</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="15"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="issuingAuthority" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Орган, выдавший документ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="issuingDate" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дата выдачи документа</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:date">
						<xsd:minInclusive value="1900-01-01"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="expirationDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дата окончания срока действия документа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DOB" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дата рождения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sex" type="tns:sexType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Пол</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="birthPlaceCountry" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Место рождения (страна)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="birthPlaceCity" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Место рождения (город)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="citizenship" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Гражданство</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="previousFIO1" type="tns:FIOType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Предыдущее ФИО 1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="previousFIO2" type="tns:FIOType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Предыдущее ФИО 2</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="militaryServiceFlag" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Отношение к воинской обязанности</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="militaryDefermentDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дата отсрочки от призыва</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="education" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Образование</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="maritalStatus" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Семейное положение</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="housing" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Жилищные условия</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="residenceAddrContactPhone" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Контактный телефон: фактического проживания
						(домашний)</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="registerAddrContactPhone" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Контактный телефон: адреса регистрации по месту
						жительства</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="contactWorkPhone" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Контактный телефон рабочий</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="contactMobilePhone" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Контактный телефон: мобильный</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="contactOtherPhone" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Контактный телефон: иные</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="eMail" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>E-Mail</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="housingAddress" type="tns:addressType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Адрес регистрации по месту пребывания</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="registerAddress" type="tns:addressType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Адрес регистрации</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="residenceAddress" type="tns:addressType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Адрес факт.проживания</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="addressEqFlag" type="tns:booleanFlag" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Адрес факт. места жительства соответствует
						регистрации</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mainWorkInfo" type="tns:workInfoType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Работа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="additionalWorkFlag" type="tns:booleanFlag" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Работа по совместительству</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pensionFlag" type="tns:booleanFlag" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Пенсионер</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="additionalWorkInfo" type="tns:workInfoType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Работа по совместительству</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="relativesList" type="tns:relativesListType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Список родственников</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hasProperty" type="tns:booleanFlag" minOccurs="0"/>
			<xsd:element name="hasTransport" type="tns:booleanFlag" minOccurs="0"/>
			<xsd:element name="propertyList" type="tns:propertyListType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Список имущества</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="externalCreditHistory" type="tns:externalCreditHistoryType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Список - Кредитная история вне банка</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="averageWorkIncome" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Среднемесячный доход по месту работы за
						последние 6 месяцев</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="averageBusinessIncome" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Среднемесячная сумма доходов от
						предпринимательской деятельности за последние 6
						месяцев</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="lastMonthPension" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Сумма получаемой пенсии за последний месяц</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="averageCivilIncome" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Среднемесячная сумма доходов по договорам
						гражданско-правового характера за последние 6
						месяцев</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="averageAlimentsIncome" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Среднемесячная сумма получаемых алиментов за
						последние 6 месяцев</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="otherIncome" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Другие доходы</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hunterClearIncome" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Совокупный доход для Hunter по участнику сделки,
						рассчитанный в SM</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hunterPredictedIncome" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Ожидаемый доход по участнику сделки, рассчитанный в SM</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="averageFamilyIncome" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Среднемесячный доход семьи</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="averageWriteOffAmount" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Среднемесячные удержания за последние 6 месяцев
						(алименты, налоги, исполнительные листы)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="averageBusinessExpences" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Среднемесячная сумма расходов
						предпринимательской деятельности за последние 6
						месяцев</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="averageLoanPayments" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Ежемесячный платеж по кредитам, займам</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="averageThirdPartyPayments" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Ежемесячный платеж за третьих лиц</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="otherExpences" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Иные расходы (аренда, образование)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="averageLivingWages" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Сумма вычитаемых бюджетов прожиточных минимумов</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="garanteeAmount" type="xsd:decimal">
				<xsd:annotation>
					<xsd:documentation>Сумма поручительства</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="aggregatedLoanPayments" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Совокупный кредитный платеж</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="contractRestrictionFlag" type="tns:booleanFlag" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Имеются ли ограничения со стороны других банков
						на заключение нового кредитного договора</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="contractRestrictionInfo" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Доп. Инфо ограничения со стороны других банков</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="courtFlag" type="tns:booleanFlag" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Имеется ли не выполненное судебное решение</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="courtInfo" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Доп. Инфо не выполненное судебное решение</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="jailFlag" type="tns:booleanFlag" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Был ли участник сделки приговорен судом к
						какому-либо наказанию</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="jailInfo" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Доп. Инфо. какому-либо наказанию</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="psychoFlag" type="tns:booleanFlag" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Состоит ли на учете психиатра/нарколога</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="psychoInfo" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Доп. Инфо на учете психиатра/нарколога</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="accusedFlag" type="tns:booleanFlag" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Участвует ли в настоящее время в качестве
						обвиняемого</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="accusedInfo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="guarantorRelation" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Отношение поручителя к заявителю</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="0"/>
						<xsd:maxExclusive value="1000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="hasDepositAccount" type="tns:booleanFlag">
				<xsd:annotation>
					<xsd:documentation>Есть ли гарантийный депозит</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="personalStatus" type="tns:booleanFlag" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Статус данного физ. лица</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="isDependent" type="tns:booleanFlag" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>На иждивении</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="creditExperience" type="tns:booleanFlag" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Опыт кредитования</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="inboundCreditExperience" type="tns:booleanFlag" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Опыт кредитования БПС</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="contractProcessing" type="tns:booleanFlag" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Требуется ли создавать договор</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="otherRelationType" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Иное отношение к заявителю</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="alimentsExpences" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Сумма расходов на алименты</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="stockIncome" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Доходы по дивидендам и процентам по депозитам,
						акциям и др. ценным бумагам</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="inboundSalaryAccountFlag" type="tns:booleanFlag" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Наличие зарплатного счета в Банке</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="jobTypeCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Категория занимаемой должности</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="9"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="jobChangeNumber" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Количество фактов смены основного места работы
						за последние 3 года</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="periodOfHousing" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Срок проживания в населенном пункте по адресу
						факт. проживания</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="docsVisualAssessment" type="tns:docsVisualAssessmentType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="sexType">
		<xsd:annotation>
			<xsd:documentation>Пол</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="M"/>
			<xsd:enumeration value="F"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="addressType">
		<xsd:sequence>
			<xsd:element name="soatoCode" type="xsd:integer"/>
			<xsd:element name="region" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>область</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="district" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>район</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="localityType" type="xsd:int">
				<xsd:annotation>
					<xsd:documentation>тип населенного пункта</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="locality" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>населенный пункт</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="streetType" type="xsd:int">
				<xsd:annotation>
					<xsd:documentation>тип улицы</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="street" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>улица</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="house" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>дом</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="building" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>корпус</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="flat" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>квартира\комната</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="workInfoType">
		<xsd:sequence>
			<xsd:element name="employmentType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Тип занятости</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="0"/>
						<xsd:maxExclusive value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="employmentDescription" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ownBusinessDescription" type="xsd:string" minOccurs="0"/>
			<xsd:element name="companyName">
				<xsd:annotation>
					<xsd:documentation>Наименование организации</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="UNP" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>УНП ИП / организации</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="sphere" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Сфера деятельности</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="companySize" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Численность работающих в организации</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="0"/>
						<xsd:maxExclusive value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="companyAddressCity" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Адрес работы – населенный пункт</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="companyAddressStreet" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Адрес работы – улица</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="companyAddressHouse" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Адрес работы – дом</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="jobTitleCode" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Код профессии</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="postTitle" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Должность</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="experience" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Стаж</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="0"/>
						<xsd:maxExclusive value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="companyPhone1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Телефон органзации Бухгалтерия</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="companyPhone2" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Телефон органзации Отдел кадров</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="companyPhone3" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Телефон органзации Прочее</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="relativesListType">
		<xsd:sequence>
			<xsd:element name="relativeInfo" type="tns:relativeInfoType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Родственник</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="relativerCounter" type="xsd:int">
			<xsd:annotation>
				<xsd:documentation>Количество родственников</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="relativeInfoType">
		<xsd:sequence>
			<xsd:element name="relationType">
				<xsd:annotation>
					<xsd:documentation>Степень родства</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="0"/>
						<xsd:maxExclusive value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="FIO" type="tns:FIOType">
				<xsd:annotation>
					<xsd:documentation>ФИО</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DOB" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Дата рождения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="isDependent" type="tns:booleanFlag">
				<xsd:annotation>
					<xsd:documentation>На иждивении</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="propertyListType">
		<xsd:sequence>
			<xsd:element name="propertyInfo" type="tns:propertyInfoType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Имущество</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="propertyCounter" type="xsd:int">
			<xsd:annotation>
				<xsd:documentation>Количество объектов</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="propertyInfoType">
		<xsd:sequence>
			<xsd:element name="propertyType">
				<xsd:annotation>
					<xsd:documentation>Вид имущества</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="0"/>
						<xsd:maxExclusive value="1000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="propertyContractNumber" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Номер договора обеспечения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="propertyCost" type="xsd:decimal">
				<xsd:annotation>
					<xsd:documentation>Cумма оценки имущества</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="propertyCyrrency" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Валюта оценки обеспечения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="propertyOwner" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Собственник объекта</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="propertyTyear" type="xsd:int" minOccurs="0"/>
			<xsd:element name="isPrivateFlag">
				<xsd:annotation>
					<xsd:documentation>Личная / совместная</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="propertyAddress" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Место нахождения (адрес) имущества</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="collateralType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Код вида обеспечения</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="0"/>
						<xsd:maxExclusive value="1000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="autoData" type="tns:autoDataType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="externalCreditHistoryType">
		<xsd:sequence>
			<xsd:element name="historicalRecord" type="tns:historicalRecordType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Кредитная история вне банка</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="recordCounter" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>Количество записей</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="historicalRecordType">
		<xsd:sequence>
			<xsd:element name="debtType">
				<xsd:annotation>
					<xsd:documentation>Виды задолженности</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="0"/>
						<xsd:maxExclusive value="1000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="bankName" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Наименование банка</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="loanPurpose" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Цель кредита</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="startDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дата начала</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="endDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дата окончания</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="loanAmount" type="xsd:decimal">
				<xsd:annotation>
					<xsd:documentation>Сумма по договору</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="amountOwed" type="xsd:decimal">
				<xsd:annotation>
					<xsd:documentation>Сумма остатка</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nextPaymentAmount" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Сумма очередного платежа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mainOverduePayment" type="xsd:decimal">
				<xsd:annotation>
					<xsd:documentation>Сумма просроченной задолженности по основному долгу</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="percentOverduePayment" type="xsd:decimal">
				<xsd:annotation>
					<xsd:documentation>Сумма просроченной задолженности по процентам</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="daysOverdue" type="xsd:int">
				<xsd:annotation>
					<xsd:documentation>Длительность нарушения сроков погашения (дни)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="overdueReason" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Причина нарушения сроков погашения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="debtBalance" type="xsd:decimal">
				<xsd:annotation>
					<xsd:documentation>Остаток задолженности</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="monthlyPaymentAmount" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Сумма ежемесячного платежа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="loanCurrency">
				<xsd:annotation>
					<xsd:documentation>Валюта кредита</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="contractNumber" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Номер договора</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="bankInfo" type="tns:bankInfoType">
				<xsd:annotation>
					<xsd:documentation>Информация о банке</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="bankInfoType">
		<xsd:sequence>
			<xsd:element name="localBankCode" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Локальный код банка</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="localBankName" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Наименование банка</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="guarantorsChangeListType">
		<xsd:sequence>
			<xsd:element name="guarantorChanged" type="tns:guarantorChangedType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="guarantorChangedType">
		<xsd:sequence>
			<xsd:element name="guarantorsId" type="xsd:int">
				<xsd:annotation>
					<xsd:documentation>Номер Поручителя в заявке</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="personalNumder" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Личный номер. Для корреляции при повторной загрузки заявки – изменение данных, замена поручителя</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="guarantorsReprocessingFlag" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Необходимость вызова внешних систем по данному поручителю</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="loanMeansListType">
		<xsd:sequence>
			<xsd:element name="loanMeans" type="xsd:int" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="collateralTypeListType">
		<xsd:sequence>
			<xsd:element name="collateralType" type="xsd:int" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="autoDataType">
		<xsd:sequence>
			<xsd:element name="transportType" type="xsd:int" minOccurs="0"/>
			<xsd:element name="transportTitle" type="xsd:string" minOccurs="0"/>
			<xsd:element name="transportYear" type="xsd:int" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="docsVisualAssessmentType">
		<xsd:sequence>
			<xsd:element name="paspForgeryFlag" type="tns:booleanFlag">
				<xsd:annotation>
					<xsd:documentation>Документ, удостоверяющий личность, имеет признаки подделки</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="paspForgeryDetails" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Признаки подделки</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="paspDisruptionFlag" type="tns:booleanFlag">
				<xsd:annotation>
					<xsd:documentation>Документ, удостоверяющий личность, имеет повреждения/нарушения структуры</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="paspDisruptionDetails" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Признаки повреждения/нарушения структуры</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="finDocForgeryFlag" type="tns:booleanFlag">
				<xsd:annotation>
					<xsd:documentation>Документ, подтверждающий финансовое состояние клиента, имеет признаки подделки</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="finDocForgeryDetails" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Признаки подделки финансового документа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="paspSignatureMismatchFlag" type="tns:booleanFlag">
				<xsd:annotation>
					<xsd:documentation>Подпись клиента в документе, удостоверяющем личность, не соответствует подписи в Анкете</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="paspSignatureMismatchDetails" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Комментарии к пункту Подпись клиента в документе, удостоверяющем личность, не соответствует подписи в Анкете</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RepaymentsScheduleListType">
		<xsd:sequence>
			<xsd:element name="RepaymentSchedule" type="tns:RepaymentScheduleType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>График погашения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RepaymentScheduleType">
		<xsd:sequence>
			<xsd:element name="Index" type="xsd:int" minOccurs="1"/>
			<xsd:element name="Period" type="xsd:string" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Период</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LoanPayments" type="xsd:decimal" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Платеж по кредиту</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="InterestPayments" type="xsd:decimal" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Платеж по процентам</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalPayments" type="xsd:decimal" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Общий платеж</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Balance" type="xsd:decimal" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Остаток</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
